@charset "utf-8";
/* CSS Document */

/* Mostly icons */

.cast_icon {
	width:24px;
	height:24px;
	mask-size:24px 24px;
}

/* types */

.cast_unavailable {
	display:none;
}

.cast_off {
	display:block;
	mask: url(../img/icons-cast/icn_media_route_off.png) top left / cover;
	-webkit-mask: url(../img/icons-cast/icn_media_route_off.png) top left / cover;
}

.cast_on {
	display:block;
	mask: url(../img/icons-cast/icn_media_route_on.png) top left / cover;
	-webkit-mask: url(../img/icons-cast/icn_media_route_on.png) top left / cover;
}