@charset "utf-8";
/* CSS Document */

/*

	ICERRR - default css
	This css is targeted at phones (~320 x ~480)
	
*/

/* -- FONTS */

body, table, input, select {
	font-family: 'Roboto', sans-serif;
	font-size:12pt;
	color:#212121; /* rgba(0,0,0,0.87); */
}

/* -- ELEMENTS */

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html { 
	overflow:hidden;
	width:100%; 
	height:100%; 
	}

body {
	overflow:hidden; 
	width:100%; 
	height:100%; 
	margin:0;
	padding:0;
	background-color:#607D8B;
}

a {
	color:#FF5722;
	text-decoration:none;
}

	a:hover {
		/* text-decoration:underline; */
	}
	
h1 {
	font-size:32pt;
	font-weight:200;
}
	
label {
	margin-left:8px;
}

input,select {
	width:98%;
	margin:-1px;
	padding:1%;
	font-size:16pt;
	background:#fff;
	border:1px solid rgba(0,0,0,0.16);
	-webkit-border-radius: 2px;
	border:1px solid rgba(0,0,0,0.16);
}

select {
	width:100%;
	margin:0;
}

input[type="text"] {
}

input[type="checkbox"] {
	width:24px;
	height:24px;
	margin-top:8px;
}

/*
select {
	margin:0; 
	padding:5px;
	background:#fff;
}
/**/

/* -- SECTIONS */

/* Common */

section {
	overflow:hidden;
	display:none;
	position:absolute;
	top:0; left:0; right:0; bottom:0;
	width:100%;
	height:100%;
	background:#ECEFF1;
}

	.actionbar {
		z-index:3;
		overflow:hidden;
		position:absolute;
		top:0; left:0; right:0;
		width:100%;
		height:56px;
		background-color:#607D8B /* #2D6073; */ /* #61AE24; */
	}
	
		.actionbar .icon_app {
			position:absolute;
			top:0; left:0;
			height:56px;
		}
	
			.actionbar .icon_app iron-icon {
				margin:0;
				padding:16px;
				color:#fff;
			}
			.actionbar .icon_app paper-icon-button {
				padding:0;
				color:#fff;
				height:56px;
			}
		
			.actionbar .icon_app img { /* TODO: deprecated polymer */
				width:24px; height:24px;
			}
		
		.actionbar .title {
			position:absolute;
			bottom:14px; left:72px;			
			overflow: hidden;
			white-space: nowrap;
			text-overflow:ellipsis;
			font-size:16pt;
			xfont-weight:300;
			color:#FFF; /* #D0D102; */
		}
		
		.actionbar .actions {
			position:absolute;
			top:0; right:0;
			height:56px;
		}
			
			.actionbar .actions paper-icon-button {
				float:right;
				margin: 8px 16px 0 0;
				padding:8px;
			}
			.actionbar .actions paper-icon-button.more-vert {
				margin:8px 8px 0 -8px;
			}
		
			.actionbar .actions .action { /* TODO: deprecated polymer */
				float:right;
				width:24px;
				height:24px;
				margin-right:8px;
				padding:16px;
			}
			
				.actionbar .actions .action img { /* TODO: deprecated polymer */
					width:24px; height:24px;
				}
				
	.tabbar {
		z-index:2;
		position:absolute;
		top:56px; left:0; right:0;
		width:100%;
		height:48px;
		background-color:#607D8B;
		color:#fff; /* rgba(255,255,255,0.87); */
		text-transform:uppercase;
	}
	
		.tab {
			float:left;
			width:50%;
			height:48px;
			color:rgba(255,255,255,0.33);
		}
		.tab.active {
			background:rgba(0,0,0,0.0);
			color:#fff; /* rgba(255,255,255,0.87); */
		}
		
		.tab_sep {
			float:left;
			width:2%;
			height:48px;
			background:rgba(0,0,0,0.25);
		}
	
	.main {
		z-index:1;
		overflow:auto;
		position:relative;
		top:56px; left:0; right:0; bottom:0;
		width:100%;
		xheight:*; /* TODO: smart way to set height dynamically so it uses all available space? */
	}
		
		.main .block {
			
		}

			.main .block.header {
				position:relative;
				top:0; left:0; right:0;
				height:64px;
				padding:0;
				font-size:16pt;
				font-weight:300;
				background:#455A64;
				color:#fff;
			}
			.main .block.header .text {
				position:absolute;
				left:16px; bottom:19px;
			}
	
	.footer {
		z-index:2;
		position:absolute;
		bottom:0; left:0; right:0;
		width:100%;
		height:88px;
	}
	
		.footer .button {
			width:33.3%;
			height:88px;
			background: -webkit-radial-gradient(ellipse, rgba(0, 0, 0, 0.33) 10%, rgba(0, 0, 0, 0.0) 40%);
			background-size:88px 88px;
			background-position:center;
			background-repeat:no-repeat;
			color:rgba(255,255,255,0.87);
		}
		
		.footer .button.active {
			background-color: rgba(0,0,0,0.25);
			background: -webkit-radial-gradient(ellipse, rgba(0, 0, 0, 0.33) 10%, rgba(0, 0, 0, 0.0) 40%);
			background-size:88px 88px;
			background-position:center;
			background-repeat:no-repeat;
		}
		
		.footer .button.busy img {
			opacity:0.5;
		}
		
		.footer .button.left {
			position:absolute;
			left:0; top:0;
		}
		
		.footer .button.center {
			position:absolute;
			left:33.34%; top:0;
		}
		
		.footer .button.right {
			position:absolute;
			right:0; top:0;
		}
		
		.footer .button_inner {
			position:absolute;
			width:100%; height:24px;
			padding:32px 0 32px 0;
		}
		
		.footer .button_inner img {
			width:40px;
			height:40px;
			margin:-8px 0 0 0;
		}
		
			.footer .button.center .button_inner img {
				width:48px;
				height:48px;
			}
			
	.fab {
		z-index:50;
		position:fixed;
		bottom:16px; right:16px;
		width:56px; 
		height:56px;
		border-radius:50%;
		background:#FF5722;
		transition:bottom 250ms;
	}
	
		.fab img {
			width:24px;
			height:24px;
			margin:16px;
		}

/* Specific */

#splash {
	z-index:90;
	display:block;
	background:#607D8B;
	-webkit-transition: -webkit-transform 500ms ease-in-out;
	transition: transform 500ms ease-in-out;
}

	#splash img {
		width:256px; height:256px;
	}

#install {
	
}

	#install .main .log {
		padding:16px;
		font-size:16pt;
		font-weight:300;
		color:#727272; /* rgba(0,0,0,0.54); */
	}
	
	#install .main .log h1 {
		margin:0 0 0 0;
	}
	
	#install .main .log li {
		margin-left:1em;
		font-size:14pt;
	}
	
	#install .main .log span.e {
		color:#f00;
	}

#firstlaunch {

}

#home {
	display:block;
}

	#home .main {
		overflow:hidden;
		width:100%; height:100%;
	}
	
	#home .main .station_image {
		position:absolute;
		top:-5%; left:-5%;
		width:110%;
		height:110%;
		margin:0;
		background-color:#333;
		background-position:center;
		background-repeat:no-repeat;
		background-size:cover;
		background-image:url(../img/bg_home_default.jpg);
	}
	
	#home .main .station_image_wrap {
		display:none;
		position:absolute;
		top:50%; left:50%;
		width:268px; height:268px;
		margin:-136px 0 0 -136px;
	}
	
	#home .main .station_image_wrap img {
		width:256px;
		height:256px;
		padding:8px;
		transition:opacity 500ms;
		opacity:0.0;
		border-radius: 136px;
	}
	
	#home .main .station_image_color {
		position:absolute;
		top:0; left:0; right:0; bottom:0;
		background:none;
		/* transition: background 500ms; */
		opacity:0.5;
	}
	
	#home .main .station_image_overlay {
		position:absolute;
		top:0; left:0; right:0;
		height:33%;
		background: -webkit-linear-gradient(rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.25) 50%, rgba(0,0,0,0.0) 100%);
	}
	
	#home .main .station_image_overlay_bottom {
		position:absolute;
		bottom:0; left:0; right:0;
		height:16%;
		background: -webkit-linear-gradient(rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.25) 50%, rgba(0,0,0,0.50) 100%);
	}
	
	#home .main .station_info_wrap {
		position:absolute;
		top:0; left:0; right:0; height:72px;
	}
	
	#home .main .station_icon {
		position:absolute;
		top:0; left:0;
	}
	
		#home .main .station_icon img {
			width:40px;
			height:40px;
			margin:15px;
			padding:1px;
			border-radius:40px;
		}
	
	#home .main .station_name {
		position:absolute;
		top:14px; left:71px; right:16px;
		overflow:hidden;
		white-space: nowrap;
		text-overflow:ellipsis;
		font-size:18pt;
		font-weight:300;
		color:rgba(255,255,255,0.87);
	}
	
	#home .main .station_nowplaying {
		position:absolute;
		top:39px; left:72px; right:16px;
		overflow:hidden;
		white-space: nowrap;
		text-overflow:ellipsis;
		font-size:12pt;
		color:rgba(255,255,255,0.87);
	}
	
	/*
	
	#home .main .station_name {
		position:absolute;
		top:40px; left:15px; right:16px;
		margin:0;
		font-size:24pt; 
		font-weight:300;
		text-transform:capitalize;
		color:rgba(255,255,255,0.87);
		overflow: hidden;
		white-space: nowrap;
		text-overflow:ellipsis;
	}
	
	#home .main .station_nowplaying {
		position:absolute;
		top:16px; left:16px; right:16px;
		margin:0;
		color:rgba(255,255,255,0.87);
		overflow: hidden;
		white-space: nowrap;
		text-overflow:ellipsis;
	}
	
	/**/
	
	#home .button_play_wrap {
		display:none;
		position:relative;
		left:50%;
		width:48px; 
		height:48px;
		margin:-4px 0 0 -24px;
	}
	
	#home .button_play_bufferAnim {
		display:none;
		position:absolute;
		top:-8px;
		width: 44px;
		height: 44px;
		border: 2px solid #fff;
		border-radius: 100%;
		position: absolute;
		clip: rect(0px, 24px, 48px, 0px);
		-webkit-animation-duration: 1s;
		-webkit-animation-name: keyframes_button_play_buffer;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-fill-mode: forwards;
		-webkit-animation-timing-function:ease-in-out;
	}
	
	#home .fab_play_shadow {
		position:absolute;
		left:50%; bottom:0px;
		width:88px; height:88px;
		margin-left:-44px;
		background: -webkit-radial-gradient(ellipse, rgba(0, 0, 0, 0.33) 17%, rgba(0, 0, 0, 0.0) 66%);
		background-size:88px 88px;
		background-position:center;
		background-repeat:no-repeat;
		color:rgba(255,255,255,0.87);
	}
	
	#home .fab_play_wrap {
		z-index:50;
		position:absolute;
		left:50%; bottom:16px;
		width:56px; 
		height:56px;
		margin-left:-28px;
	}
	
		#home .fab_play {
			position:absolute;
			top:0; left:0;
			width:56px; 
			height:56px;
			border-radius:50%;
			background:#FF5722;
			/* transition: background 500ms; */
		}
			
			#home .fab_play img {
				position:absolute;
				top:16px; left:16px;
				width:24px; height:24px;
			}
			#home .fab_play_wrap.busy .fab_play img {
				opacity:0.5;
			}
	
		#home .fab_play_bufferAnim {
			display:block;
			position:absolute;
			top:-4px; left:-4px;
			width: 60px;
			height: 60px;
			border: 2px solid #fff;
			border-radius: 100%;
			position: absolute;
			clip: rect(0px, 32px, 64px, 0px);
			-webkit-animation-duration: 1s;
			-webkit-animation-name: keyframes_button_play_buffer;
			-webkit-animation-iteration-count: infinite;
			-webkit-animation-fill-mode: forwards;
			-webkit-animation-timing-function:ease-in-out;
		}
	
	#home .alarm_dialog {
		z-index:3;
		display:none;
		position:absolute;
		top:0; left:0; right:0; bottom:0;
		background:rgba(0,0,0,0.67);
	}
	
		#home .alarm_dialog_inner {	
			position:absolute;
			top:50%; left:50%;
			width:280px; height:280px;
			margin:-140px 0 0 -140px;
			background:rgba(255,255,255,0.87);
			color:#212121; /*rgba(0,0,0,0.87);*/
		}
		
		#home .alarm_dialog .time {
			position:absolute;
			top:88px; left:0; right:0;
			text-align:center;
			font-size:56pt;
			font-weight:300;
			color:#727272; /* rgba(0,0,0,0.54); */
		}
		
		#home .alarm_dialog .button {
			position:absolute;
			bottom:0;
			width:108px;
			padding:16px;
			text-align:center;
			font-size:14pt;
			color:#FF5722;
		}
		
			#home .alarm_dialog .button.snooze {
				left:0;
			}
			
			#home .alarm_dialog .button.stop {
				right:0;
			}

#channellist {
	
}

	#channellist .actionbar {
		height:58px;
	}
	
	#channellist .actionbar .title {
		bottom:16px;
	}

	#channellist .main {
		top:104px;
	}
	
	/* TODO: Fow now let's keep this universal? */
	
	.resultheader {
		position:relative;
		top:0; left:0; right:0;
		height:16px;
		padding:16px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow:ellipsis;
		border-bottom:1px solid #ccc;
		text-transform:uppercase;
	}
	
	.resultitem {
		float:left;
		position:relative;
		width:100%;
		height:71px;
		background:#fff;
		border-bottom:1px solid #ddd;
	}
	
	.resultitem .resulticon {
		position:absolute;
		top:0; left:0;
		width:40px; 
		height:40px;
		margin:16px;
		border-radius:40px;
		background-color:#f9f9f9;
		
	}
	
	.resultitem .resultname {
		position:absolute;
		bottom:24px; left:72px; right:72px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow:ellipsis;
		font-size:14pt;
		color:#212121;
	}
	
	.resultitem .resultstar {
		position:absolute;
		top:0; right:0;
		width:24px;
		height:24px;
		padding:24px;
	}
	
	.resultitem .resultstarred {
		
	}
	
	.resultitem_spacer {
		/* for bottom, space for fab */
		height:64px;
		background:#ECEFF1;
		border:none;
	}
	
	.resultfooter {
		/* for credits, powered by ... */
		position:fixed;
		right:0; left:0; bottom:0;
		padding:16px;
		background:#ECEFF1;
		text-align:center;
		font-size:10pt;
	}
	
#detailstation {

}

	#detailstation .main .header {
		position:absolute;
		top:0; left:0; right:0;
		height:192px;
		background-color:#455A64;
		background-image:url(../img/bg_home_default.jpg);
		background-size:cover;
		background-position:center center;
	}
	
		#detailstation .main .header .overlay {
			position:absolute;
			top:0; left:0; right:0; height:192px;;
			background: -webkit-linear-gradient(rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.50) 50%, rgba(0,0,0,0.25) 100%);
		}
	
		#detailstation .main .header .station_icon {
			display:none;
			position:absolute;
			top:0; left:0;
		}
		
			#detailstation .main .header .station_icon img {
				width:40px;
				height:40px;
				margin:16px;
				border-radius:40px;
			}
	
		#detailstation .main .header .station_image {
			position:absolute;
			top:50%; left:50%;
			margin-left:-64px; margin-top:-64px;
			
		}
		
			#detailstation .main .header .station_image img {
				width:128px;
				height:128px;
				border-radius:128px;
			}
		
		#detailstation .main .header .station_name {
			display:none;
			position:absolute;
			top:12px; left:71px; right:72px;
			overflow:hidden;
			white-space: nowrap;
			text-overflow:ellipsis;
			font-size:20pt;
			font-weight:300;
			color:rgba(255,255,255,0.87);
		}
		
		#detailstation .main .header .station_nowplaying {
			display:none;
			position:absolute;
			top:41px; left:72px; right:72px;
			overflow:hidden;
			white-space: nowrap;
			text-overflow:ellipsis;
			font-size:12pt;
			/* font-weight:300; */
			color:rgba(255,255,255,0.87);
		}
		
		#detailstation .main .header .station_starred {
			position:absolute;
			top:0; right:0;
		}
		
			#detailstation .main .header .station_starred img {
				width:24px; height:24px;
				padding:24px;
			}
	
	#detailstation .main .content,
	#detailstation .main .content_loading {
		position:absolute;
		top:192px; left:0; right:0; bottom:0;
	}
	
	#detailstation .main .content_loading {
		display:none;
	}
	
		#detailstation .main .content_loading .content_loading_message {
			position:absolute;
			top:50%; left:50%;
			width:200px;
			margin-top:16px; margin-left:-100px;
			text-align:center;
			font-size:16pt;
			font-weight:300;
		}
	
		#detailstation .main .content .content_header,
		#detailstation .main .content_loading .content_header {
			position:relative;
			top:0; left:0; right:0; height:72px;
			background-color:#455A64;
		}
		
			#detailstation .main .content_header .station_name {
				position:absolute;
				top:13px; left:16px; right:72px;
				overflow:hidden;
				white-space: nowrap;
				text-overflow:ellipsis;
				font-size:18pt;
				font-weight:300;
				color:rgba(255,255,255,0.87);
			}
			
			#detailstation .main .content_header .station_nowplaying {
				position:absolute;
				top:39px; left:16px; right:24px;
				overflow:hidden;
				white-space: nowrap;
				text-overflow:ellipsis;
				font-size:12pt;
				/* font-weight:300; */
				color:rgba(255,255,255,0.87);
			}
	
		#detailstation .main .content .content_item {
			overflow:hidden;
			position:relative;
			top:0; left:0; right:0;
			height:72px;
			transition: height 500ms;
		}
		
			#detailstation .main .content .content_item .icon {
				position:absolute;
				top:24px; left:24px;
			}
			
				#detailstation .main .content .content_item .icon img {
					width:24px; height:24px;
					opacity:0.54;
				}
		
			#detailstation .main .content .content_item .text {
				position:absolute;
				top:0; left:72px; right:0;
				height:71px;
				border-bottom:1px solid #ddd;
			}
			
				#detailstation .main .content .content_item .text .title {
					position:absolute;
					top:16px; left:0; right:16px;
					font-size:14pt;
					font-weight:normal;
					overflow: hidden;
					white-space: nowrap;
					text-overflow:ellipsis;
					color:#212121;
				}
				
				#detailstation .main .content .content_item .text .subtitle {
					position:absolute;
					top:36px; left:0; right:16px;
					font-size:12pt;
					font-weight:300;
					overflow: hidden;
					white-space: nowrap;
					text-overflow:ellipsis;
					color:#727272;
				}
				
			#detailstation .main .content .content_item .inline_list {
				position:relative;
				top:0; left:0; right:0; 
				height:0;
				margin-top:72px;
			}
			
				#detailstation .main .content .content_item .inline_list .divider {
					position:relative;
					top:0; left:72px; right:0;
					height:1px;
					background:#ddd;
				}
			
				#detailstation .main .content .content_item .inline_list .ic_collapsed {
					position:absolute;
					top:72px; left:0; right:0;
					height:72px;
				}
			
					#detailstation .main .content .content_item .inline_list .ic_collapsed img {
						width:24px; height:24px;
						margin:24px;
						opacity:0.54;
					}
			
				#detailstation .main .content .content_item .inline_list .playlist_item {
					position:relative;
					top:0; left:0; right:0;
					height:72px;
					margin-left:72px;
				}
			
					#detailstation .main .content .content_item .inline_list .playlist_item_name {
						position:absolute;
						top:16px; left:0; right:112px;
						font-size:14pt;
						font-weight:normal;
						overflow: hidden;
						white-space: nowrap;
						text-overflow:ellipsis;
						color:#212121;
					}
					
					#detailstation .main .content .content_item .inline_list .playlist_item_title {
						position:absolute;
						top:36px; left:0; right:112px;
						font-size:12pt;
						font-weight:300;
						overflow: hidden;
						white-space: nowrap;
						text-overflow:ellipsis;
						color:#727272;
					}
					
					#detailstation .main .content .content_item .inline_list .playlist_item_spotify,
					#detailstation .main .content .content_item .inline_list .playlist_item_gpmusic {
						position:absolute;
						top:24px; right:24px;
						width:24px; height:24px;
						opacity:0.54;
					}
					#detailstation .main .content .content_item .inline_list .playlist_item_spotify {
						right:72px;
					}
					#detailstation .main .content .content_item .inline_list .playlist_item_gpmusic {
					
					}
	
	#detailstation .fab_header {
		position:absolute;
		top:164px; right:16px;
		width:56px; 
		height:56px;
		border-radius:50%;
		background:#FF5722;
		transition:bottom 250ms;
	}
		
		#detailstation .fab_header img {
			width:24px;
			height:24px;
			margin:16px;
		}
	
#editstation, #searchstation, #searchstation_results {
	
}

	#editstation .block, #searchstation .block, #alarms_add .block, #about .block, #viewlog .block {
		padding:0 16px 16px 16px;
	}

	#editstation .block.header, #searchstation .block.header, #alarms_add .block.header, #about .block.header, #viewlog .block.header {
		/* padding:16px; */
		padding:0;
	}
	
	#editstation .block label a, #searchstation .block label a, #alarms_add .block label a {
		float:right;
	}
	
	#editstation img.station_icon, #searchstation img.station_icon {
		width:48px; height:48px;
	}
	
	#editstation .block .button, #searchstation .block .button {
		
	}
	
	#editstation #chedit_station_url_hq {
		display:none;
	}
	
#searchstation_results {

}
	
	#searchstation_results  .resultitem .resultname, 
	#alarms .resultitem .resultname {
		/*
		position:absolute;
		top:16px; left:72px; right:16px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow:ellipsis;
		font-size:12pt;
		color:#212121;
		/**/
		position:absolute;
		top:16px; left:72px; right:16px;
		font-size:14pt;
		font-weight:normal;
		overflow: hidden;
		white-space: nowrap;
		text-overflow:ellipsis;
		color:#212121;
	}
	
	#searchstation_results .resultitem .resultsub, 
	#alarms .resultitem .resultsub {
		/*
		position:absolute;
		bottom:16px; left:72px; right:16px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow:ellipsis;
		font-size:10pt;
		color:#727272;
		/**/
		position:absolute;
		top:36px; left:72px; right:16px;
		font-size:12pt;
		font-weight:300;
		overflow: hidden;
		white-space: nowrap;
		text-overflow:ellipsis;
		color:#727272;
	}
	
#searchicon {

}

	#searchicon .main {
		padding-bottom:48px;
	}
	
		.resultwrap_chicon {
			margin:auto;
			padding:10px;
		}
	
		.resultitem_chicon {
			float:left;
			width:80px;
			height:80px;
			margin:5px;
			padding:5px;
			background:#fff;
			overflow:hidden;
		}
	
			.resulticon_chicon {
				width:100%;
			}
			
	#searchicon .main .gsc-branding {
		position:fixed;
		right:0; left:0; bottom:0;
		padding:16px;
		background:#ECEFF1;
		text-align:center;
		font-size:10pt;
	}

/* Alarms */
	
#alarms {

}

#alarms_add {

}

	#alarms_add .block {
		padding:0 16px 16px 16px;
	}
	#alarms_add .block.header {
		/* padding:16px; */
		padding:0;
	}
	#alarms_add .block.borderTop {
		border:1px solid #ddd;
	}

	#alarms_add label {
		padding-bottom:16px; 
	}
	
	#alarms_add input[type="range"] {
		position:relative;
		top:-1px; left:-1px;
		-webkit-appearance: none;
		background-color: #ddd;
		border:1px solid #ccc;
		width:100%;
		height:16px;
		margin:1% 0 1% 0;
		padding:0;
	}
	
		#alarms_add input[type="range"]::-webkit-slider-thumb {
			-webkit-appearance: none;
			background-color: #455A64;
			opacity: 1.0;
			width: 16px;
			height: 16px;
		}
	
	#alarms_add .weekschedule {
		height:48px;
	}

	#alarms_add .weekboxWrap {
		float:left;
		position:relative;
		width:14.28571%; 
		height:48px;
	}
	
		#alarms_add .weekboxIndicator {
			position:absolute;
			left:4px; right:4px; bottom:4px;
			height:4px;
			background:#ccc;
		}
		
			#alarms_add .weekboxWrap.active .weekboxIndicator {
				background:#455A64;
			}
	
		#alarms_add .weekboxText {
			position:absolute;
			left:4px; right:4px; top:12px;
			text-align:center;
		}
	
/* Viewlog */

#viewlog {
	
}

	#viewlog .main {
		left:0; right:0;
		overflow-x:hidden;
	}

	#viewlog .main .block span {
		font-size:9pt;
		-webkit-touch-callout: text;
		-webkit-user-select: text;
		-khtml-user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		user-select: text;
		cursor:text;
	}
	
/* About */
	
#about {
	display:none;
}
	
	#about input.paypal {
		width:147px;
		cursor:pointer;
	}
	
	#about .spacer {
		width:16px;
		height:16px;
	}
	
/* Settings */

#settings {

}
	
	#settings .block {
		position:relative;
		left:0px; right:0px;
		padding:16px 16px 0 16px;
	}

		#settings .block.header {
			padding:0;
			/*
			padding:16px;
			font-size:18pt;
			font-weight:300;
			background:#455A64;
			color:#fff;
			/**/
		}
	
	/* Item defaults */
	
	#settings .block .itemWrap {
		position:relative;
		left:0px; right:0px;
	}
	#settings .block .itemWrap.disabled {
		color:rgba(0,0,0,0.54);
	}
	
	#settings .block .item {
		
	}
	
	#settings .block .item.spacer {
		width:100%;
		height:1px;
		margin:16px 0 16px 0;
		background:#ddd;
	}
	#settings .block .item.spacer.invis {
		height:0;
		background:none;
	}
	
	#settings .block .item.endspacer {
		width:100%;
		height:16px;
	}
	
	#settings .block .item.title {
		position:relative;
		margin-right:32px;
		font-size:14pt;
		font-weight:normal;
		overflow: hidden;
		white-space: nowrap;
		text-overflow:ellipsis;
		color:#212121;
	}
	
	#settings .block .item.subtitle {
		position:relative;
		margin-top:0px;
		margin-right:32px;
		font-size:12pt;
		font-weight:300;
		color:#727272;
	}
	
		#settings .checkboxWrap {
			position:absolute;
			top:0px; right:0px;
		}
	
/* -- OVERFLOW_MENU */

.overflow_menu {
	display:none;
	z-index:90;
	overflow:hidden;
	position:absolute;
	top:4px; right:4px;
	width:0px; max-height:0px;
	
	width:240px;
	max-height:600px;
	
	margin:0;
	background:#fff; /* rgba(255,255,255,1); */
}

.overflow_menu.active {
	width:240px;
	max-height:600px;
}

	.overflow_menu .menu_item_space {
		display:none;
		position:relative;
		width:100%; height:8px;
	}

	.overflow_menu .menu_item {
		position:relative;
		width:100%;
		height:47px;
		padding-top:1px;
		border-bottom:1px solid #eee;
	}
	
	.overflow_menu .menu_item .center_td {
		text-align:left;
	}
	
	.overflow_menu_button_close {
		z-index:2;
		position:absolute;
		top:0; right:0;
		padding:12px;
	}
	
		.overflow_menu_button_close img {
			width:24px; height:24px;
		}

/* -- OVERLAYS */

/* Common */

.overlay_wrap {
	z-index:80; /* high zindex */
	display:none;
	position:absolute;
	top:0; left:0; right:0; bottom:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.67);
	font-size:24pt;
	font-weight:300;
	color:#fff;
}

	.overlay_submsg {
		font-size:12pt;
	}
	
/* Specific */

#loading.overlay_wrap {
	
}

#dialog.overlay_wrap {
	
}

	#dialog_inner {
		position:absolute;
		top:16px; left:16px; right:16px; bottom:16px;
		padding:16px;
		background:#fff;
		font-size:14pt;
		color:rgba(0,0,0,0.87);
	}

/* Other */

#overlay_toast {
	z-index:85;
	display:none;
	position:absolute;
	/* left:24px; right:24px; bottom:24px; /**/
	left:0; right:0; bottom:0;
	height:auto;
	/* padding:16px 16px 16px 16px; /**/
	padding:24px 24px 22px 24px;
	color:rgba(255,255,255,0.87);
	background-color:rgba(0,0,0,0.67);
	pointer-events:auto;
}
#overlay_toast.top {
	bottom:auto;
	top:56px;
}

/* -- COMMON */

/* Center tools */
	
.center_table {
	display:table;
	width:100%;
	height:100%;
}

.center_td {
	display:table-cell;
	width:100%; height:100%;
	text-align:center;
	vertical-align:middle;
}

/* Round */


.roundedCorners2, .round2 {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.roundedCorners4, .round4 {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/* Shadow */

.textshadow25 {
	text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
	}
	
.shadow_z1 {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.shadow_z2 {
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.37);
}

.shadow_z3 {
	box-shadow: 0px 3px 8px rgba(0, 0, 0, .37);
}

.shadow_z4 {
	box-shadow: 1px 4px 12px rgba(0, 0, 0, .25);
}

.shadow_z5 {
	box-shadow: 1px 5px 10px rgba(0, 0, 0, .25);
}
	
.shadow_z1u {
	box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.25);
}

.shadow_z2u {
	box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.37);
}

.shadow_z3u {
	box-shadow: 0px -3px 6px rgba(0, 0, 0, .5);
}

.shadow_z4u {
	box-shadow: 0px -4px 8px rgba(0, 0, 0, .5);
}

.shadow_z5u {
	box-shadow: 0px -5px 10px rgba(0, 0, 0, .5);
}
	
.shadowInset {
	-moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
	box-shadow:         inset 0 0 10px rgba(0,0,0,0.5);
}

/* -- LOADER BAR */

.loadbar {
	display:none;
	overflow:hidden;
	position:absolute;
	top:54px; left:0; right:0;
	height:2px;
	background:none;
}

.loadbar_inner_base {
	position:absolute;
	top:0; left:-48px; bottom:0; right:-48px;
}

.loadbar_inner_color {
	position:absolute;
	top:0; left:0; bottom:0;
	width:48px; height:2px;
	background:#fff; /* #D0D102; */
}

.loadbar_inner_1 {
	-webkit-animation: loadbar_inner 2s infinite;
}
.loadbar_inner_2 {
	-webkit-animation: loadbar_inner 2s 0.5s infinite;
}
.loadbar_inner_3 {
	-webkit-animation: loadbar_inner 2s 1s infinite;
}

@-webkit-keyframes loadbar_inner {
	
	/**/
	0% { -webkit-transform: translate3d(0px,0px,0px); }
	100% { -webkit-transform: translate3d(100%,0px,0px); }
	/*
	
	0% {left:-48px;}
	100% {left:100%;}
	
	/**/
} 

/* Selectable */

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:default;
}

.selectable, p, input, textarea {
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	cursor:text;
}

/* Activatable */

/* TODO: FIXME: having issues with :active when elem is hidden while :active
http://stackoverflow.com/questions/25338174/android-webview-active-stays-on-when-elem-is-hidden-while-it-is-active
*/

/* TODO: deprecated polymer ? */

/**/
.activatablel:active {
	background-color:rgba(69,90,100,0.25);
}
.activatabled:active {
	background-color:rgba(69,90,100,0.25);
}

.activatablelh_active {
	background-color:rgba(69,90,100,0.25);
}
.activatabledh_active {
	background-color:rgba(69,90,100,0.25);
}
/**/

/* Hoverable */

.hoverablel:hover {
	background-color:rgba(208,209,2,0.25);
}

.hoverabled:hover {
	background-color:rgba(50,116,44,0.25);
}

/* HW ACC animations! */

.section_translate_in {
	transform: translate3d(0,0,0);
}

/* -- ANIMATIONS */

@-webkit-keyframes keyframes_button_play_buffer {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}



















