@charset "utf-8";
/* CSS Document */

/*

	ICERRR - default css
	This css is targeted at phones (~320 x ~480), tablets will be targeted with media queries and additional css files
	Also: landscape...
	
	Notes:
	* Palettes
	   * http://www.colourlovers.com/business/trends/branding/7880/Papeterie_Haute-Ville_Logo
	
*/

/* -- FONTS */

body, table, input, select {
	font-family: 'Roboto', sans-serif;
	font-size:12pt;
	color:rgba(0,0,0,0.87);
}

/* -- ELEMENTS */

* {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

html { 
	overflow:hidden;
	width:100%; 
	height:100%; 
	}

body {
	overflow:hidden; 
	width:100%; 
	height:100%; 
	margin:0;
	padding:0;
	background-color:#2D6073;
}

a {
	color:#999;
	text-decoration:none;
}

	a:hover {
		text-decoration:underline;
	}
	
h1 {
	font-size:32pt;
	font-weight:200;
}
	
label {
	margin-left:8px;
}

input,select {
	width:98%;
	margin:-1px;
	padding:1%;
	font-size:16pt;
	background:#fff;
	border:1px solid rgba(0,0,0,0.16);
	-webkit-border-radius: 2px;
	border:1px solid rgba(0,0,0,0.16);
}

select {
	width:100%;
	margin:0;
}

input[type="text"] {
}

input[type="checkbox"] {
	width:24px;
	height:24px;
	margin-top:8px;
}

/*
select {
	margin:0; 
	padding:5px;
	background:#fff;
}
/**/

/* -- SECTIONS */

/* Common */

section {
	overflow:hidden;
	display:none;
	position:absolute;
	top:0; left:0; right:0; bottom:0;
	width:100%;
	height:100%;
	background:#eee;
}

	.actionbar {
		z-index:3;
		position:absolute;
		top:0; left:0; right:0;
		width:100%;
		height:56px;
		background-color:#2D6073; /* #61AE24; */
	}
	
		.actionbar .icon_app {
			position:absolute;
			top:0; left:0;
			width:24px; /* note: icon should include 4px padding on all sides! */
			height:24px;
			padding:16px;
		}
		
			.actionbar .icon_app img {
				width:24px; height:24px;
			}
		
		.actionbar .title {
			position:absolute;
			bottom:14px; left:56px;
			font-size:16pt;
			xfont-weight:300;
			color:#D0D102;
		}
		
		.actionbar .actions {
			position:absolute;
			top:0; right:0;
			height:56px;
		}
		
			.actionbar .actions .action {
				float:right;
				width:24px;
				height:24px;
				margin-left:4px;
				padding:16px;
			}
			
				.actionbar .actions .action img {
					width:24px; height:24px;
				}
				
	.tabbar {
		z-index:2;
		position:absolute;
		top:56px; left:0; right:0;
		width:100%;
		height:48px;
		background-color:#616161;
		color:rgba(255,255,255,0.87);
		text-transform:uppercase;
	}
	
		.tab {
			float:left;
			width:50%;
			height:48px;
			color:rgba(255,255,255,0.54);
		}
		.tab.active {
			background:rgba(0,0,0,0.25);
			color:rgba(255,255,255,0.87);
		}
		
		.tab_sep {
			float:left;
			width:2%;
			height:48px;
			background:rgba(0,0,0,0.25);
		}
	
	.main {
		z-index:1;
		overflow:auto;
		position:relative;
		top:56px; left:0; right:0;
		width:100%;
		xheight:*; /* TODO: smart way to set height dynamically so it uses all available space? */
	}
		
		.main .block {
			
		}

			.main .block.header {
				font-size:18pt;
				font-weight:300;
				background:#ddd;
			}
	
	.footer {
		z-index:2;
		position:absolute;
		bottom:0; left:0; right:0;
		width:100%;
		height:64px;
	}
	
		.footer .button {
			width:33.3%;
			height:64px;
			background: -webkit-radial-gradient(ellipse, rgba(0, 0, 0, 0.25) 5%, rgba(0, 0, 0, 0.0) 75%);
			color:rgba(255,255,255,0.87);
		}
		
		.footer .button.active {
			background-color: rgba(0,0,0,0.25);
			background: -webkit-radial-gradient(ellipse, rgba(208, 209, 2, 1) 5%, rgba(208, 209, 2, 0.0) 75%);
			background-size:64px 64px;
			background-position:center;
			background-repeat:no-repeat;
		}
		
		.footer .button.busy img {
			opacity:0.5;
		}
		
		.footer .button.left {
			position:absolute;
			left:0; top:0;
		}
		
		.footer .button.center {
			position:absolute;
			left:33.34%; top:0;
		}
		
		.footer .button.right {
			position:absolute;
			right:0; top:0;
		}
		
		.footer .button_inner {
			position:absolute;
			width:100%; height:24px;
			padding:20px 0 20px 0;
		}
		
		.footer .button_inner img {
			width:40px;
			height:40px;
			margin:-8px 0 0 0;
		}
		
			.footer .button.center .button_inner img {
				width:48px;
				height:48px;
			}

/* Specific */

#splash {
	z-index:90;
	display:block;
	background:#2D6073;
	-webkit-transition: -webkit-transform 500ms ease-in-out;
	transition: transform 500ms ease-in-out;
}

	#splash img {
		width:256px; height:256px;
	}

#install {
	
}

	#install .main .log {
		padding:16px;
		font-size:10pt;
		color:rgba(0,0,0,0.54);
	}
	
	#install .main .log span.e {
		color:#f00;
	}

#firstlaunch {

}

#home {
	display:none;
}

	#home .main {
		overflow:hidden;
		width:100%; height:100%;
	}
	
	#home .main .station_image {
		position:absolute;
		top:-5%; left:-5%;
		width:110%;
		height:110%;
		margin:0;
		background-color:#333;
		background-position:center;
		background-repeat:no-repeat;
		background-size:cover;
		background-image:url(../img/bg_home_default.jpg);
	}
	
	#home .main .station_image_wrap {
		position:absolute;
		top:50%; left:50%;
		width:268px; height:268px;
		margin:-136px 0 0 -136px;
	}
	
	#home .main .station_image_wrap img {
		width:256px;
		height:256px;
		padding:8px;
		transition:opacity 500ms;
		opacity:0.0;
	}
	
	#home .main .station_image_overlay {
		position:absolute;
		top:0; left:0; right:0;
		height:33%;
		background: -webkit-linear-gradient(rgba(0,0,0,0.75) 0%, rgba(0,0,0,0.25) 50%, rgba(0,0,0,0.0) 100%);
	}
	
	#home .main .station_image_overlay_bottom {
		position:absolute;
		bottom:0; left:0; right:0;
		height:16%;
		background: -webkit-linear-gradient(rgba(0,0,0,0.0) 0%, rgba(0,0,0,0.25) 50%, rgba(0,0,0,0.50) 100%);
	}
	
	#home .main .station_name {
		position:absolute;
		top:40px; left:15px; right:16px;
		margin:0;
		font-size:24pt; 
		font-weight:300;
		text-transform:capitalize;
		color:rgba(255,255,255,0.87);
		overflow: hidden;
		white-space: nowrap;
		text-overflow:ellipsis;
	}
	
	#home .main .station_nowplaying {
		position:absolute;
		top:16px; left:16px; right:16px;
		margin:0;
		color:rgba(255,255,255,0.87);
		overflow: hidden;
		white-space: nowrap;
		text-overflow:ellipsis;
	}
	
	#home .button_play_wrap {
		position:relative;
		left:50%;
		width:48px; 
		height:48px;
		margin:-4px 0 0 -24px;
	}
	
	#home .button_play_bufferAnim {
		display:none;
		position:absolute;
		top:-8px;
		width: 44px;
		height: 44px;
		border: 2px solid #fff;
		border-radius: 100%;
		position: absolute;
		clip: rect(0px, 24px, 48px, 0px);
		-webkit-animation-duration: 1s;
		-webkit-animation-name: keyframes_button_play_buffer;
		-webkit-animation-iteration-count: infinite;
		-webkit-animation-fill-mode: forwards; /* Hold the last keyframe */
		-webkit-animation-timing-function:ease-in-out; /* Linear animation */
	}

#channellist {
	
}

	#channellist .main {
		top:104px;
	}
	
	/* TODO: Fow now let's keep this universal? */
	
	.resultheader {
		position:relative;
		top:0; left:0; right:0;
		height:16px;
		padding:16px;
		border-bottom:1px solid #ccc;
		text-transform:uppercase;
	}
	
	.resultitem {
		float:left;
		position:relative;
		width:100%;
		height:72px;
		border-bottom:1px solid #ccc;
	}
	
	.resultitem .resulticon {
		position:absolute;
		top:0; left:0;
		width:40px; 
		height:40px;
		padding:16px;
	}
	
	.resultitem .resultname {
		position:absolute;
		bottom:22px; left:72px; right:72px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow:ellipsis;
		font-size:16pt;
	}
	
	.resultitem .resultstar {
		position:absolute;
		top:0; right:0;
		width:24px;
		height:24px;
		padding:24px;
	}
	
	.resultitem .resultstarred {
		
	}
	
	.resultfooter {
		/* for credits, powered by ... */
		position:fixed;
		right:0; left:0; bottom:0;
		padding:16px;
		background:#eee;
		text-align:center;
		font-size:10pt;
	}
	
#editstation, #searchstation, #searchstation_results {
	
}

	#editstation .block, #searchstation .block, #alarms_add .block, #about .block, #viewlog .block {
		padding:0 16px 16px 16px;
	}

	#editstation .block.header, #searchstation .block.header, #alarms_add .block.header, #about .block.header, #viewlog .block.header {
		padding:16px;
	}
	
	#editstation .block label a, #searchstation .block label a, #alarms_add .block label a {
		float:right;
	}
	
	#editstation img.station_icon, #searchstation img.station_icon {
		width:48px; height:48px;
	}
	
	#editstation .block .button, #searchstation .block .button {
		
	}
	
#searchstation_results {

}
	
	#searchstation_results  .resultitem .resultname, 
	#alarms .resultitem .resultname {
		position:absolute;
		top:16px; left:72px; right:16px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow:ellipsis;
		font-size:12pt;
	}
	
	#searchstation_results .resultitem .resultsub, 
	#alarms .resultitem .resultsub {
		position:absolute;
		bottom:16px; left:72px; right:16px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow:ellipsis;
		font-size:10pt;
	}
	
#searchicon {

}

	#searchicon .main {
		padding-bottom:48px;
	}
	
		.resultwrap_chicon {
			margin:auto;
			padding:10px;
		}
	
		.resultitem_chicon {
			float:left;
			width:80px;
			height:80px;
			margin:5px;
			padding:5px;
			background:#fff;
			overflow:hidden;
		}
	
			.resulticon_chicon {
				width:100%;
			}
			
	#searchicon .main .gsc-branding {
		position:fixed;
		right:0; left:0; bottom:0;
		padding:16px;
		background:#eee;
		text-align:center;
		font-size:10pt;
	}

/* Alarms */
	
#alarms {

}

#alarms_add {

}

	#alarms_add .block {
		padding:0 16px 16px 16px;
	}
	#alarms_add .block.header {
		padding:16px;
	}
	#alarms_add .block.borderTop {
		border:1px solid #ddd;
	}

	#alarms_add label {
		padding-bottom:16px; 
	}
	
	#alarms_add input[type="range"] {
		position:relative;
		top:-1px; left:-1px;
		-webkit-appearance: none;
		background-color: #ddd;
		border:1px solid #ccc;
		width:100%;
		height:16px;
		margin:1% 0 1% 0;
		padding:0;
	}
	
		#alarms_add input[type="range"]::-webkit-slider-thumb {
			-webkit-appearance: none;
			background-color: #2D6073;
			opacity: 1.0;
			width: 16px;
			height: 16px;
		}
	
	#alarms_add .weekschedule {
		height:48px;
	}

	#alarms_add .weekboxWrap {
		float:left;
		position:relative;
		width:14.28571%; 
		height:48px;
	}
	
		#alarms_add .weekboxIndicator {
			position:absolute;
			left:4px; right:4px; bottom:4px;
			height:4px;
			background:#ccc;
		}
		
			#alarms_add .weekboxWrap.active .weekboxIndicator {
				background:#2D6073;
			}
	
		#alarms_add .weekboxText {
			position:absolute;
			left:4px; right:4px; top:12px;
			text-align:center;
		}
	
/* Viewlog */

#viewlog {
	
}

	#viewlog .main {
		left:0; right:0;
		overflow-x:hidden;
	}

	#viewlog .main .block span {
		font-size:9pt;
		-webkit-touch-callout: text;
		-webkit-user-select: text;
		-khtml-user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		user-select: text;
		cursor:text;
	}
	
/* About */
	
#about {
	display:none;
}
	
	#about input.paypal {
		width:147px;
		cursor:pointer;
	}
	
	#about .spacer {
		width:16px;
		height:16px;
	}
	
/* Settings */

#settings {

}
	
	#settings .block {
		padding:16px 16px 0 16px;
	}

		#settings .block.header {
			padding:8px 16px 8px 16px;
			background:#D0D102;
			font-size:18pt;
			font-weight:300;
		}
	
	/* Item defaults */
	
	#settings .block .itemWrap {
		position:relative;
	}
	
	#settings .block .item {
		
	}
	
	#settings .block .item.spacer {
		width:100%;
		height:1px;
		margin:16px 0 16px 0;
		background:#ddd;
	}
	
	#settings .block .item.endspacer {
		width:100%;
		height:16px;
	}
	
	#settings .block .item.title {
		font-size:16pt;
		font-weight:normal;
		position:relative;
		left:0; right:56px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow:ellipsis;
	}
	
	#settings .block .item.subtitle {
		position:relative;
		left:0; right:72px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow:ellipsis;
		border-right:1px solid #f00;
	}
	
		#settings .checkboxWrap {
			position:absolute;
			top:4px; right:0px;
		}
	
/* -- OVERFLOW_MENU */

.overflow_menu {
	display:none;
	overflow:hidden;
	position:absolute;
	z-index:80;
	top:60px; right:4px;
	width:0px; max-height:0px;
	margin:-1px;
	background:rgba(255,255,255,1);
	border:1px solid #ccc;
	xtransition:width 250ms, max-height 250ms;
}

.overflow_menu.active {
	width:240px;
	max-height:600px;
}

	.overflow_menu .menu_item {
		position:relative;
		width:100%;
		height:48px;
		border-bottom:1px solid #ccc;
	}
	
	.overflow_menu .menu_item .center_td {
		text-align:left;
	}

/* -- OVERLAYS */

/* Common */

.overlay_wrap {
	z-index:90; /* high zindex */
	display:none;
	position:absolute;
	top:0; left:0; right:0; bottom:0;
	width:100%;
	height:100%;
	background:rgba(0,0,0,0.5);
	font-size:24pt;
	font-weight:300;
	color:#fff;
}

	.overlay_wrap
	
/* Specific */

#loading.overlay_wrap {
	
}

#dialog.overlay_wrap {
	
}

	#dialog_inner {
		position:absolute;
		top:16px; left:16px; right:16px; bottom:16px;
		padding:16px;
		background:#fff;
		font-size:14pt;
		color:rgba(0,0,0,0.87);
	}

/* Other */

#overlay_toast {
	z-index:99;
	display:none;
	position:absolute;
	left:32px; right:32px; bottom:32px;
	height:auto;
	padding:16px 24px 16px 24px;
	color:rgba(255,255,255,0.87);
	background-color:rgba(0,0,0,0.5);
	pointer-events:none;
}

/* -- COMMON */

/* Center tools */
	
.center_table {
	display:table;
	width:100%;
	height:100%;
}

.center_td {
	display:table-cell;
	width:100%; height:100%;
	text-align:center;
	vertical-align:middle;
}

/* Round */


.roundedCorners2, .round2 {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	}

.roundedCorners4, .round4 {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	}

/* Shadow */

.textshadow25 {
	text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
	}
	
.shadow_z1 {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.shadow_z2 {
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.37);
}

.shadow_z3 {
	box-shadow: 0px 3px 6px rgba(0, 0, 0, .5);
}

.shadow_z4 {
	box-shadow: 0px 4px 8px rgba(0, 0, 0, .5);
}

.shadow_z5 {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
}
	
.shadow_z1u {
	box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.25);
}

.shadow_z2u {
	box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.37);
}

.shadow_z3u {
	box-shadow: 0px -3px 6px rgba(0, 0, 0, .5);
}

.shadow_z4u {
	box-shadow: 0px -4px 8px rgba(0, 0, 0, .5);
}

.shadow_z5u {
	box-shadow: 0px -5px 10px rgba(0, 0, 0, .5);
}
	
.shadowInset {
	-moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
	box-shadow:         inset 0 0 10px rgba(0,0,0,0.5);
}

/* Selectable */

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:default;
}

.selectable, p, input, textarea {
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	cursor:text;
}

/* Activatable */

/* TODO: FIXME: having issues with :active when elem is hidden while :active
http://stackoverflow.com/questions/25338174/android-webview-active-stays-on-when-elem-is-hidden-while-it-is-active
*/

.activatablel_active {
	background-color:rgba(208,209,2,0.25);
}
.activatabled_active {
	background-color:rgba(50,116,44,0.25);
}

/* Hoverable */

.hoverablel:hover {
	background-color:rgba(208,209,2,0.25);
}

.hoverabled:hover {
	background-color:rgba(50,116,44,0.25);
}

/* HW ACC animations! */

.section_translate_in {
	transform: translate3d(0,0,0);
}

/* -- ANIMATIONS */

@-webkit-keyframes keyframes_button_play_buffer {
	from {
		-webkit-transform: rotate(0deg);
	}
	to {
		-webkit-transform: rotate(360deg);
	}
}



















