@charset "utf-8";
/* CSS Document */

/*

	ICERRR - tablet css
	This css is targeted at tablets following most Material Design guidelines at http://goo.gl/8640JE
	
	Notes:
	* Palettes
	   * http://www.colourlovers.com/business/trends/branding/7880/Papeterie_Haute-Ville_Logo
	
*/

/* -- SECTIONS */

/* Common */

section { }

	.actionbar {
		height:64px;
	}
	
		.actionbar .icon_app {
			padding:20px;
		}
		
		.actionbar .title {
			bottom:18px; left:64px;
		}
		
		.actionbar .actions {
			height:64px;
		}
		
			.actionbar .actions .action {
				padding:20px;
			}
			
	.tabbar {
		top:64px;
	}
		
	.main {
		top:64px;
	}

/* Specific */

#home {}

	#home .actionbar .icon_app {
		width:32px; height:32px;
		padding:20px;
	}

	#home .main .station_name {
		top: 44px; left:18px; right:20px;
		font-size:32pt;
	}
	
	#home .main .station_nowplaying {
		top:20px; left:20px; right:20px;
	}
	
	#home .main .station_nowplaying {
		font-size:16pt;
	}
	
	#home .alarm_dialog {
		display:none;
	}
	
		#home .alarm_dialog_inner {	
			width:400px; height:400px;
			margin:-200px 0 0 -200px;
		}
		
		#home .alarm_dialog .time {
			top:120px;
			text-align:center;
			font-size:96pt;
			font-weight:200;
		}
		
		#home .alarm_dialog .button {
			width:152px;
			padding:24px;
		}
	
#channellist {}

	#channellist .actionbar {
		height:66px;
	}
	
	#channellist .actionbar .title {
		bottom:20px;
	}

	#channellist .main {
		top:112px;
	}
	
/* -- OVERFLOW_MENU */

.overflow_menu {
	top:4px;
}

	.overflow_menu .menu_item {
		height:55px;
	}
	
	.overflow_menu_button_close {
		padding:16px;
	}
	
		.overflow_menu_button_close img {
			width:24px; height:24px;
		}
	
/* -- OVERLAYS */

/* Common */

.overlay_wrap {
	font-size:32pt;
}

	.overlay_submsg {
		font-size:16pt;
	}
