@charset "utf-8";
/* CSS Document */

/*

	ICERRR - tablet css
	This css is targeted at tablets following most Material Design guidelines at http://goo.gl/8640JE
	
*/

/* -- SECTIONS */

/* Common */

section { }

	.actionbar {
		height:64px;
	}
	
		.actionbar .icon_app {
			top:4px; left:8px;
			height:64px;
		}
	
			.actionbar .icon_app iron-icon {}
			.actionbar .icon_app paper-icon-button { }
		
		.actionbar .title {
			bottom:18px;
		}
		
		.actionbar .actions {
			height:64px;
		}
			
			.actionbar .actions paper-icon-button {
				margin:8px 12px 8px 4px;
				padding:12px;
			}
		
			.actionbar .actions .action { /* TODO: deprecated */
				padding:20px 24px 20px 24px;
			}
			
	.tabbar {
		top:64px;
	}
		
	.main {
		top:64px;
	}
		
		.main .block {}

			.main .block.header {
				height:64px;
			}
			.main .block.header .text {
				left:16px; bottom:18px;
			}

/* Specific */

#home {}
	
	#home .main .station_info_wrap {
		/* top:4px; left:4px; right:4px; */
	}
	
	#home .alarm_dialog {
		display:none;
	}
	
		#home .alarm_dialog_inner {	
			width:400px; height:400px;
			margin:-200px 0 0 -200px;
		}
		
		#home .alarm_dialog .time {
			top:120px;
			text-align:center;
			font-size:96pt;
			font-weight:200;
		}
		
		#home .alarm_dialog .button {
			width:152px;
			padding:24px;
		}
	
#channellist {}

	#channellist .actionbar {
		height:66px;
	}
	
	#channellist .actionbar .title {
		bottom:20px;
	}

	#channellist .main {
		top:112px;
	}
	
#detailstation {

}
	
/* -- OVERFLOW_MENU */

.overflow_menu {
	top:4px;
}

	.overflow_menu .menu_item {
		height:55px;
	}
	
	.overflow_menu_button_close {
		padding:16px;
	}
	
		.overflow_menu_button_close img {
			width:24px; height:24px;
		}
	
/* -- OVERLAYS */

/* Common */

.overlay_wrap {
	font-size:32pt;
}

	.overlay_submsg {
		font-size:16pt;
	}

/* Other */

#overlay_toast.top {
	bottom:auto;
	top:64px;
}


/* -- LOADER BAR */

.loadbar {
	top:62px;
}