
/* -- COMMON */

/* Shadow */

.textshadow25 {
	text-shadow: 2px 2px rgba(0, 0, 0, 0.25);
	}

.shadow_z1 {
	box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.shadow_z2 {
	box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.37);
}

.shadow_z3 {
	box-shadow: 0px 3px 6px rgba(0, 0, 0, .5);
}

.shadow_z4 {
	box-shadow: 0px 4px 8px rgba(0, 0, 0, .5);
}

.shadow_z5 {
	box-shadow: 0px 5px 10px rgba(0, 0, 0, .5);
}

.shadow_z1u {
	box-shadow: 0px -1px 2px rgba(0, 0, 0, 0.25);
}

.shadow_z2u {
	box-shadow: 0px -2px 6px rgba(0, 0, 0, 0.37);
}

.shadow_z3u {
	box-shadow: 0px -3px 6px rgba(0, 0, 0, .5);
}

.shadow_z4u {
	box-shadow: 0px -4px 8px rgba(0, 0, 0, .5);
}

.shadow_z5u {
	box-shadow: 0px -5px 10px rgba(0, 0, 0, .5);
}

.shadowInset {
	-moz-box-shadow:    inset 0 0 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: inset 0 0 10px rgba(0,0,0,0.5);
	box-shadow:         inset 0 0 10px rgba(0,0,0,0.5);
}

/* Round */


.roundedCorners2, .round2 {
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
}

.roundedCorners4, .round4 {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

/* Selectable */

* {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	cursor:default;
}

.selectable, p, input, textarea {
	-webkit-touch-callout: text;
	-webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;
	cursor:text;
}

a, a img {
	cursor:pointer;
}
