@charset "utf-8";
/* CSS Document */

/* -- FONTS */

/* -- ELEMENTS */

/* -- SECTIONS */

/* Common */

section {
	overflow-y:auto;
}

/* Specific */

#home { }

	#home .header {
	}

		#home .logo {

		}

			#home .logo img {

			}

			#home .logo .title {

			}

			#home .logo .subtitle {

			}

				#home .logo .subtitle .theapp {
					display:none;
				}

				#home .logo .subtitle .forandroid {
					display:block;
				}

		#home .logo_sml {

		}

			#home .logo_sml .title {
				top:14px;
			}

	#home .main {

	}
