@charset "utf-8";
/* CSS Document */

/*

	ICERRR - phone-landscape css
	This css is targeted at phones in landscape, following most Material Design guidelines at http://goo.gl/8640JE

*/

/* -- SECTIONS */

/* Common */

section { }

	.actionbar {
		height:48px;
	}

		.actionbar .icon_app {
			margin:4px 8px 4px 8px;
		}

		.actionbar .title {
			bottom:10px; left:72px;
		}

		.actionbar .actions {
			height:48px;
		}

			.actionbar .actions .action { /* TODO: deprecated polymer */
				margin:4px 8px 4px 8px;
			}

	.tabbar {
		top:48px;
	}

	.main {
		top:48px;
	}

/* Specific */

#home {}

	#home .main .station_info_wrap {
		/* top:0px; left:-4px; right:-4px; */
	}

#channellist {}

	#channellist .actionbar {
		height:50px;
	}

	#channellist .actionbar .title {
		bottom:12px;
	}

	#channellist .main {
		top:96px;
	}

#detailstation {
}

    #detailstation .main {
    }

    #detailstation .main .header {
        right:360px; bottom:72px;
        height:auto;
    }

        #detailstation .main .header .overlay {
            height:100%;
        }

        #detailstation .main .header .station_image {
        }

            #detailstation .main .header .station_image img {
            }

    #detailstation .main .content,
	#detailstation .main .content_loading {
        overflow:auto;
		position:absolute;
		top:0px; left:auto; right:0; bottom:0;
        width:360px;
	}

#editstation, #searchstation, #searchstation_results {

}

	#editstation .block, #searchstation .block, #alarms_add .block, #about .block, #viewlog .block {
		padding:0 16px 12px 16px;
	}

	#editstation .block.header, #searchstation .block.header, #alarms_add .block.header, #about .block.header, #viewlog .block.header {
		padding:0;
	}

/* -- OVERFLOW_MENU */

.overflow_menu {
	top:4px;
}

	.overflow_menu .menu_item {
		height:39px;
	}

	.overflow_menu_button_close {
		padding:8px;
	}

		.overflow_menu_button_close img {
			width:24px; height:24px;
		}

/* Other */

#overlay_toast.top {
	bottom:auto;
	top:48px;
}


/* -- LOADER BAR */

.loadbar {
	top:46px;
}