.background {
  background: #333;
}

.logo {
  background-image:url(http://94.208.216.239/icerrr/img/web_hi_res_512_001.png);
}

.progressBar {
  background-color: #D0D102;
}

.splash {
  background-image:url(http://94.208.216.239/icerrr/img/web_hi_res_512_001.png);
  /* background-size:cover; */
}

.watermark {
  background-image:url(http://94.208.216.239/icerrr/img/icons-48/ic_launcher.png);
  background-size: 56px 56px;
}