@charset "utf-8";
/* CSS Document */

/* -- SECTIONS */

/* Common */

/* Specific */

#home {}

	/* tbe rule: (image.size + 24) == 50% of content; */
	
	#home .main .station_image {
		position:relative;
		top:0; left:50%;
		width:192px; 
		height:192px;
		margin:48px auto 0 -96px;
	}
	
	#home .main .station_image_wrap {
		width:192px; 
		height:192px;
	}
	
	#home .main .station_image img {
		width:192px;
		max-height:192px;
	}
	
	#home .main .station_name {
		position:relative;
		top:0; left:auto;
		width:280px;
		margin:48px auto 0 auto;
		text-align:center;
		font-size:24pt; 
		font-weight:300;
		text-transform:capitalize;
	}
	
	#home .main .station_nowplaying {
		position:relative;
		top:0; left:auto;
		width:280px;
		margin:24px auto 0 auto;
		text-align:center;
		font-size:12pt;
	}